{{ 'featured-links.css' | asset_url | stylesheet_tag }}

<div class="home-featured-links">
    {% if section.settings.menu != blank %}
      <ul class="big-links plain">
        {% for link in section.settings.menu.links -%}
          <li class="box--gradient silver">
            {{ link.title | link_to: link.url }}
          </li>
        {%- endfor %}
      </ul>
    {% endif %}
</div>


{% schema %}
{
  "name": "Featured Links",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
    }
],
  "presets": [{
    "name": "Home - Featured links",
    "category": "Text"
  }]
}
{% endschema %}
