<style>
  .template-404 .title {
    margin-bottom: 24px;
  }
</style>

<div class="template-404 page-width page-margin center">
  <h1 class="title">
    We can’t find that page.
  </h1>
  <a href="/" class="link-underline">
    <span>Go home</span>
  </a>
</div>
