
{{ 'scrolling-banner.css' | asset_url | stylesheet_tag }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" defer="defer"></script>

<script src="{{ 'scrolling-banner.js' | asset_url }}" defer="defer"></script>


<div class="scrolling-banner enable-animation" {{ section.shopify_attributes }}>
    {% if section.settings.text != blank %}
      <div class="marquee" id="marquee">
        <div class="marquee__group">
          <h2>
            <span>{{ section.settings.text | escape }}</span>
          </h2>
        </div>
      </div>
    {% endif %}
</div>


{% schema %}
{
  "name": "Scrolling banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "text",
      "default": "ANTI INFLAMMATORY ADAPTOGENIC ACTIVATED PARASYMPATHETIC PAIN FREE GUILT FREE SUPERFREE SUPERFOOD PLANT RICH CLEAN EATING CLEAR MIND GUT HEALING",
      "label": "Text"
    }
  ],
  "presets": [{
    "name": "Scrolling Banner",
    "category": "Text"
  }]
}
{% endschema %}
