* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

button {
    border: 0;
    border-radius: 0;
    outline: 0;
    background: transparent;
}

@keyframes slide {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100vw;
    }
}

.shopify-challenge__button,
.customer button,
.button--secondary,
.btn-rainbow {
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 16px;
    background: var(--black);
    background: linear-gradient(270deg, var(--black) -16.44%, var(--black) 1.82%, var(--black) 49.78%, var(--black) 102.78%);
    color: var(--white);
    transition: .3s ease all;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.button--secondary:hover,
.btn-rainbow:hover {
    background: linear-gradient(270deg, var(--black) -16.44%, var(--rose) 1.82%, #FBD786 49.78%, #C6FFDD 102.78%);
    background-size: 100vw 100vw;
    animation: 'slide' 3s infinite linear forwards;
    animation-duration: 3.5s;
}


a {
    text-decoration: none;
    color: inherit;
}

a::before:hover {
    text-decoration-style: wavy;
}

.link-hover:hover {
    cursor: pointer;
}


body {
    background: var(--silver);
}

.page-width {
    max-width: 100%;
}

@media (max-width: 1392px) {
    .page-width {
        max-width: 100%;
    }
}

.btn {
    display: flex;
}

.btn span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-glow {
    background: var(--glow-up);
    color: var(--black);
    transition: .3s ease all;
}

.btn-glow:hover {
    background: var(--black);
    color: var(--white);
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-circle {
    height: 132px;
    width: 132px;
    border-radius: 50%;
    transform: rotate(45deg);
    animation: 5s linear infinite reverse both running rotateCircle;
}

.btn-circle span {
    font-family: var(--mono-serif);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    word-spacing: 100vw;
}

.link-underline {
    border-bottom: 1px solid black;
}

.link-underline,
.link-underline span {
    font-family: var(--mono-serif);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0em;
}

/* big links */

ul.big-links {
    display: flex;
}

@media (max-width: 998px) {
    ul.big-links {
        flex-direction: column;
    }
}

/* ul.big-links li {
    position: relative;
    flex-basis: calc(33.333% - 10px);
    box-sizing: border-box;
} */

/* 
ul.big-links li::before {
    content: '';
    display: block;
    padding-top: 100%;
} */

@media (min-width: 998px) {
    ul.big-links li:not(:last-child) {
        margin-right: 56px;
    }
}

@media (max-width: 998px) {
    ul.big-links li:not(:last-child) {
        margin-bottom: 24px;
    }
}

ul.big-links li a {
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    border: 1px solid var(--white);
    /* word-spacing: 100vw; */
    transition: .3s ease all;
}


@media (min-width: 1392px) {
    ul.big-links li a {
        padding: 126px;
    }
}

@media (min-width: 998px) and (max-width: 1392px) {
    ul.big-links li a {
        padding: 75px;
    }
}

@media (max-width: 998px) {
    ul.big-links li a {
        padding: 45px;
    }
}


ul.big-links li a:hover {
    border-radius: 50%;
}

.rte {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}

.page-title {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.annotation {
    margin-left: 1ch;
    font-family: var(--mono-serif);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

/* blog */
.main-blog .title--primary {
    display: none;
}

.article-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}


/* age checker */

.agp__container {
    display: flex;
    align-items: center;
}

.agp__background {
    background-color: var(--rose) !important;
}

.agp__heading {
    font-size: 48px !important;
    font-weight: 300 !important;
    line-height: 67px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    text-transform: uppercase !important;
    margin-bottom: 60px !important;
}

.agp__row {
    background: transparent !important;
}

.agp__container input[type=submit] {
    background: var(--black);
    color: var(--rose);
    border: 1px solid black !important;
    transition: .3s ease all;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    text-transform: uppercase !important;
}

.agp__container input[type=submit]:hover {
    background: var(--rose);
    color: var(--black);
    cursor: pointer;
}

.agp__disclaimer {
    display: none !important;
}

/* type */
.title-style {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.shopify-challenge__container>*:not(:last-child) {
    margin-bottom: 24px;
}

.shopify-challenge__container .shopify-challenge__button {
    margin-top: 24px;
}