.home-cta {
    overflow: hidden;
}

.home-cta,
.home-cta a .image-wrapper {
    height: 538px;
}

.home-cta a {
    min-width: 100%;
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: start;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.home-cta a .image-wrapper,
.home-cta a .text-wrapper {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.home-cta a .text-wrapper {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1392px) {
    .home-cta a .text-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
}


.home-cta a .text-wrapper h2 {
    place-self: center;
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    word-break: break-all;
}

@media (max-width: 998px) {
    .home-cta a .text-wrapper h2 {
        font-size: 36px;
        line-height: 54px;
    }
}