.scrolling-banner {
    background: var(--rose);
    padding: 24px 0;
    position: relative;
    overflow: hidden;
}

.scrolling-banner h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 52px;
    letter-spacing: 0em;
    text-transform: uppercase;
    white-space: nowrap;
}