footer.footer {
  background: var(--black);
  color: var(--white);
  padding-top: 68px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  max-width: 100vw;
  margin: 0 auto;
  grid-template-areas:
    "nav news"
    "copy legal"
    "logo logo";
}

.footer-navs {
  grid-area: nav;
}

.footer-news {
  grid-area: news;
}

.footer-copy {
  grid-area: copy;
}

.footer-legal {
  grid-area: legal;
}

.footer-logo {
  grid-area: logo;
}

.footer-legal,
.footer-news {
  padding: 0 64px;
}

.footer-copy {
  padding: 32px 0;
}

.footer-logo {
  padding-top: 66px;
  text-align: center;
}

.footer-navs,
.footer-copy {
  padding-left: 24px;
}

/* typography */

.footer-navs ul li {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.footer-navs ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 3px 0;
  display: inline-block;
}

.footer-navs .footer-nav-block {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-navs .footer-nav-block>* {
  margin-bottom: 24px;
}

.footer-navs .footer-nav-block>*:not(:last-child) {
  margin-right: 65px;
}

.footer-navs .footer-nav-block .muted-menu li {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.6;
  text-transform: lowercase;
  display: flex;
  align-items: center;
}

.footer-navs .footer-nav-block .muted-menu li:before {
  content: "";
  background-image: url('./arrow.svg');
  margin-right: 11px;
  width: 13px;
  height: 13px;
  display: flex;
}



.footer-news h2 {
  font-family: var(--mono-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-news p {
  font-family: var(--sans-serif);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.footer-news input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  color: var(--white);
  height: 32px;
  flex: 2;
}

.footer-news button {
  font-family: var(--mono-serif);
  display: flex;
  align-items: flex-end;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-left: 36px;
  color: var(--white);
}

.footer-legal p {
  font-family: var(--mono-serif);
  font-size: 9px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  opacity: 0.6;
}

.footer-copy p,
.footer-copy ul li {
  font-family: var(--mono-serif);
  font-size: 9px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.5;
  text-transform: uppercase;
}

.footer-copy a {
  color: inherit;
  text-decoration: none;
}

.footer-copy>*:not(:last-child),
.footer-copy ul li:not(:last-child) {
  margin-right: 36px;
}

/* mobile footer */

.footer-navs-mobile {
  display: none;
}

@media (max-width: 800px) {
  .footer-navs {
    display: none;
  }

  .footer-navs-mobile {
    display: flex;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    padding-bottom: 10px;
  }

  .footer-news {
    order: 1;
  }

  .footer-navs-mobile {
    order: 2;
  }

  .footer-legal {
    order: 3;
  }

  .footer-logo {
    order: 4;
  }

  .footer-copy {
    order: 5;
  }

  .footer-news {
    text-align: center;
  }

  .footer-news p {
    display: none
  }

  .newsletter-form__field-wrapper .field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .footer-news button {
    margin-left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  .footer-legal,
  .footer-news {
    padding: 0;
  }

  .footer-navs-mobile {
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 34px;
  }

  .footer-navs-mobile ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 0;
  }

  .footer-navs-mobile ul.muted-menu-mobile li {
    color: #939393;
  }

  .footer-legal {
    margin-top: 60px;
    text-align: center;
  }

  .footer-logo {
    padding-top: 16px;
  }

  .footer-logo img {
    height: auto;
    width: auto;
  }

  .footer-copy {
    margin-top: 18px;
    padding-left: 0;
    justify-content: space-between;
    padding: 0;
  }

  .footer-copy div {
    flex: 2;
  }

  .footer-copy ul {
    flex: 1;
  }

  .footer-copy>*:not(:last-child),
  .footer-copy ul li:not(:last-child) {
    margin-right: 11px;
  }

  .footer-copy .copyright__content {
    text-align: right;
  }
}