.section-image-banner {
  display: grid;
  grid-template: 1fr / 1fr;
  height: 80vh;
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
}

.section-image-banner .image-wrapper,
.section-image-banner .text-wrapper {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  position: relative;
}

.section-image-banner .image-wrapper {
  z-index: 1;
  max-height: 100%;
  overflow: hidden;
}

.section-image-banner .text-wrapper {
  z-index: 2;
  align-self: end;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px;
}

.section-image-banner .image-wrapper img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: 0 50%;
  height: 100%;
}

.section-image-banner h2 {
  font-size: 80px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: var(--white);
  margin-right: 24px;
}