.product__info-container {
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  max-width: 922px;
}

.product__info-container .product__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: lowercase;
}

.product__info-container .price {
  font-family: var(--mono-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 24px;
}

.product__description {
  margin-top: 34px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
}

@media (max-width: 1100px) {
  .product__description {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.product-form__buttons>button {
  margin-top: 34px;
  background: var(--black);
  color: var(--white);
  padding: 17px;
}

.product-form__submit {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.product-info-extra {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

@media (max-width: 998px) {

  .product-info-extra {
    display: flex;
    flex-direction: column;
  }
}

.product-info-extra>* {
  background: var(--white);
  padding: 210px 75px;
  text-align: center;
}

@media (max-width: 998px) {

  .product-info-extra>* {
    padding: 75px 24px;
  }
}


.product-info-extra h3 {
  font-size: 48px;
  font-weight: 300;
  line-height: 67px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.product-info-extra p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-transform: lowercase;
}

.product__info-container .price__badge-sold-out {
  display: none;
}

.product-image-metafield {
  display: flex;
  margin-top: 24px;
}

.product-image-metafield img {
  width: 100%;
  max-height: 628px;
  object-fit: cover;
}

/* appstle styles */
#appstle_subscription_widget0 {
  max-width: 100%;
  padding: 0;
  margin-top: 56px;
}

.appstle_sub_widget {
  text-transform: lowercase;
}

.appstle_widget_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.appstle_tooltip_wrapper {
  display: none !important;
}

#appstle_subscription_widget0 .appstle_subscription_wrapper_option:first-child,
#appstle_subscription_widget0 .appstle_subscription_wrapper {
  border-color: var(--black);
  border-width: 2px;
  border-radius: 0;
}

.appstle_subscription_amount,
.appstle_subscribe_save_text,
.appstle_one_time_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: lowercase;
}

#appstle_subscription_widget0 .appstle_subscription_radio_wrapper {
  align-items: center !important;
}

#appstle_subscription_widget0 .appstle_subscription_amount_wrapper {
  display: flex;
}

#appstle_subscription_widget0 .appstle_subscription_wrapper_option {
  padding-top: 31px !important;
  padding-bottom: 31px !important;
}

#zooomybackinstock form+div {
  height: 0;
  overflow: hidden;
}

/* btn fixed */
.product-btn-fixed {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 12;
}

.btn-chrome {
  background: linear-gradient(212.41deg, #939393 33.12%, #D9D9D9 87.18%);
}

.product-variant-dropdown {
  height: unset;
  margin-top: 24px;
}

.product-variant-dropdown select {
  font-size: 16px;
  line-height: 16px;
  padding-left: 28px;
  border: 2px solid var(--black);
}

.product-variant-dropdown>.icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 28px;
}

.product-variant-dropdown .select .icon-caret {
  left: unset;
  right: 28px;
}