.product__info-container {
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1038px;
}

.product__info-container .product__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: lowercase;
}

.product__info-container .price {
  font-family: var(--mono-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 24px;
}

.product__description {
  margin-top: 34px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
}

.product-form__buttons {
  margin-top: 34px;
  background: var(--black);
  color: var(--white);
  border-radius: 10px;
  padding: 17px;
}

.product-form__submit {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.product-info-extra {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.product-info-extra>* {
  background: var(--white);
  border-radius: 10px;
  padding: 210px 75px;
  text-align: center;
}

.product-info-extra h3 {
  font-size: 48px;
  font-weight: 300;
  line-height: 67px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.product-info-extra p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-transform: lowercase;
}