header.header {
    width: 100%;
    width: 100vw;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "l c r";
    align-items: center;
    background: var(--black);
    color: var(--white);
    margin: 24px 0;
    border-radius: 50px;
    padding: 11px 24px;
}

.header-left {
    grid-area: l;
    display: flex;
}

.header-center {
    grid-area: c;
    justify-self: center;
    text-align: center;
}

.header-center a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    grid-area: r;
}

.header-right a {
    display: flex;
    justify-content: flex-end;
}

header.header {
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: start;
}

.header-drawer,
.header-grid {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}


.header-drawer {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.header-grid {
    z-index: 2;
    position: relative;
}

/* typography */

.header-grid button span,
.header-grid a span {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--white)
}

/* menu drawer toggle */

header .header-drawer {
    transition: .5s ease all;
}

header.collapsed .header-drawer {
    transform: translateY(-883px);
}

header:not(.collapsed) .header-drawer {
    transform: translateY(0vh);
}

/* menu drawer appearance */
.header-drawer {
    background: var(--black);
    color: var(--white);
    height: 883px;
    padding-top: 140px;
}

.header-drawer .header-drawer-wrapper {
    display: flex;
}

.header-drawer .nav-shop {
    flex: 66%;
}

.header-drawer .nav-site-desktop {
    flex: 33%;
}

.header-drawer .nav-site-mobile {
    display: none;
}

.header-drawer {
    background-image: url('./logo.png');
    background-position: center 114%;
    background-repeat: no-repeat;
}

.nav-site-desktop li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

/* layout width */

.header-drawer-wrapper,
.header-grid {
    width: calc(var(--page-width) - 48px);
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1392px) {

    .header-drawer-wrapper,
    .header-grid {
        width: calc(100% - 48px);
        margin-left: 24px;
        margin-right: 24px;
    }
}

.cart-count-bubble {
    display: none !important;
}