.swiper-slide img {
    max-width: 100%;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: unset !important;
    right: unset !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: unset !important;
    top: unset !important;
    width: auto !important;
    height: auto !important;
    margin-top: 0;
    color: inherit;
}


.product__media-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-height: 72vh;
    width: auto;
    margin-top: 100px;
}

.product__media-wrapper .swiper {
    grid-column: 2 / 8;
}

.swiper {
    position: relative;
    /* width: 100vw; */
    height: 100%;
}


.swiper-controls {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
}

.swiper-button-prev {
    transform: rotate(180deg);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: flex;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('../assets/caret.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.swiper-slide {
    text-align: center;
    display: flex;
}

.swiper-slide img {
    max-height: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1392px) {
    .swiper-slide img {
        max-width: 684px;
    }
}

@media (max-width: 1392px) {
    .swiper-slide img {
        max-width: 40vw;
    }
}