/* @media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description>* {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}
 */

/* custom */

.page-collection .product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  text-align: center;
  margin: 52px 0;
}

@media (max-width: 998px) {
  .page-collection .product-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }
}

.page-collection .card:not(.ratio),
.page-collection .card,
.collection .description-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  grid-gap: 30px;
  height: 100%;
}

.page-collection .card .card__inner {
  grid-row: 1 / 2;
}

.page-collection .card>.card__inner {
  grid-row: 1 / 2;
}

.page-collection .card>.card__content {
  grid-row: 2 / 3;
}

.page-collection .card__media {
  width: 100%;
  height: 100%;
}

.collection .card__information .card__heading {
  font-size: 42px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-transform: lowercase;
}

.collection .card__information a,
.collection .card__information a:hover {
  text-decoration: none;
}

.collection .card-information .price {
  font-family: var(--mono-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.collection .card__information {
  padding: 0;
}

.collection .description-wrapper .text-wrapper,
.collection .card__inner {
  background: var(--white);
  overflow: hidden;
}

.collection.shop .card__media .media img {
  object-fit: contain;
  padding: 75px;
}

.collection-title {
  margin-top: 30px;
}

.collection-title .flex-row {
  justify-content: center;
}


.collection .description-wrapper {
  background: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.collection .description-wrapper .text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.product-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 111;
  position: relative;
  text-align: center;
}

.product-status span {
  font-size: 66px;
  font-weight: 300;
  line-height: 73px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: var(--silver);
}

.page-collection .button-wrapper {
  width: 80%;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.page-collection .button-wrapper a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}